page-home {

    ion-header {
        .toolbar-md, .toolbar-ios {
            min-height: 45px;
        }

        ion-navbar {
            .toolbar-background {
                //background-color: yellow;
            }
            .nav-gram {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;

                .logo {
                    flex-grow: 1;
                }

                ion-icon {
                    font-size: 1.3em;
                    min-width: 25px;
                }
            }
        }
    }

}
